<?xml version="1.0"?>

<!--
  - Copyright 2009 Vladimir Ritz Bossicard
  -
  - This file is part of WorkingOnIt.
  -
  - WorkingOnIt is free software: you can redistribute it and/or modify it under the
  - terms of the GNU General Public License as published by the Free Software
  - Foundation, either version 3 of the License, or (at your option) any later
  - version.
  -
  - This program is distributed in the hope that it will be useful, but WITHOUT
  - ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  - FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  - more details.
  -
  - You should have received a copy of the GNU General Public License along with
  - this program. If not, see <http://www.gnu.org/licenses/>.
  -
  - Author      : Vladimir Ritz Bossicard
  - Version     : $Revision: 240 $
  - Last edit   : $Date: 2009-07-11 13:43:28 +0200 (Sat, 11 Jul 2009) $
  - Last editor : $Author: vbossica $
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> 

<suite name="linguae" verbose="1">
 
    <test name="integration">
        <classes>
            <class name="org.workingonit.linguae.DatabaseDiscoveryMessageSourceTest"/>
            <class name="org.workingonit.linguae.FilesystemDiscoveryMessageSourceTest"/>
        </classes>
    </test>
  
</suite>